.comment {
	position: relative;
	margin-bottom: 3rem;

	h4 {
		margin: 0;
		font-size: 1rem;
		font-weight: bold;
	}

	.created-date {
		position: absolute;
		top: 0;
		right: 0;

		color: $text-secondary-color;
	}

	p {

	}

	.votes {
		display: inline-block;
		width: 4rem;
		
		.em {
			width: 1.5rem;
			height: 1.5rem;
			margin-right: 0.5rem;

			-webkit-filter: saturate(0%) contrast(300%) invert(100%);
			filter: saturate(0%) contrast(300%) invert(100%);
			opacity: 0.25;
		}

		&.enabled .em {
			opacity: 1.0;
			cursor: pointer;

			&:active {
				-webkit-filter: saturate(0%) contrast(300%) invert(0%);
				filter: saturate(0%) contrast(300%) invert(0%);
			}
		}

		&.up {
			//
		}

		&.down {
			//
		}

		.pending {
			background-image: url('../static/img/loader-32.gif');
			width: 1.5rem;
			height: 1.5rem;
			display: inline-block;
			vertical-align: middle;
			opacity: 0.5;

			background-position: center;
			background-repeat: no-repeat;
			background-size: contain;
		}
	}
}
