.diff-map {
	width: 100%;
	height: $map-height;

	background-color: $thumb-background-color;
	border: 1px solid $cell-border-color;

	.map-container {
		width: 100%;
		height: 100%;
	}

	.diff {
		stroke: rgb(255, 0, 0);
		stroke-width: 2;
		stroke-opacity: 0.5;
		fill: rgb(255, 0, 0);
		fill-opacity: 0.5;
	}

	.intersection {
		stroke: rgb(67, 143, 211);
		stroke-width: 2;
		stroke-opacity: 0.5;
		fill: rgb(255, 153, 51);
		fill-opacity: 0.2;
	}

	.is-processing {
		width: 100%;
		margin-top: 2rem;
		font-size: 1.5rem;
		text-align: center;
	}
}
