#header {
	position: relative;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: baseline;

	width: 100%;
	margin-top: 1rem;
	padding: 0 $page-horiz-padding-mobile;
	background-color: $background-color;

	@media (#{$bp-larger-than-mobile}) {
		margin-top: 3rem;
		padding: 0 $page-horiz-padding;
	}

	h1 {
		margin: 0;
		color: $text-color;
	}

	.login-options {
		cursor: pointer;
	}

}
