.home-page {
	ul {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		flex-wrap: wrap;

		width: 100%;
		margin: 0;
		padding: 0;
	}

	li {
		flex: 0 0 16rem;
		height: 9rem;
		background-color: $text-link-color;

		margin: 1rem 2rem;
		list-style-type: none;
	}
}
