// TODO: DRY this and _project-thumb.scss out
.proposal-thumb {
	margin: 1rem $horiz-spacing;

	.map {
		width: $thumb-width;
		height: $thumb-height;

		background-color: $text-link-color;
	}

	figcaption {
		max-width: $thumb-width;
		margin-top: 0.5rem;
		font-size: 1rem;

		color: $text-link-color;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
}
