// colors
$background-color: #ffffff;
$app-background-color: #fafafa;

$text-color: #333333;
$text-link-color: #2dade0;
$text-secondary-color: #cccccc;

$cell-border-color: #f6f6f6;


// layout
$page-horiz-padding: 6rem;
$horiz-spacing: 1rem;
$thumb-width: 20rem;
$thumb-height: 11.25rem;