// colors
$background-color: #ffffff;
$app-background-color: #fafafa;

$text-color: #333333;
$text-link-color: #2dade0;
$text-secondary-color: #cccccc;

$cell-border-color: #f6f6f6;
$thumb-background-color: #9ecfde;
$form-background-color: #f2f2f2;

// layout
$page-horiz-padding: 6rem;
$page-horiz-padding-mobile: 1rem;
$horiz-spacing: 1rem;
$thumb-width: 20rem;
$thumb-height: 11.25rem;

// responsive
$bp-larger-than-mobile: 'min-width: 768px';