$background-color: #f9f9f9;
body { 
	margin: 0; 
	background-color: $background-color;
}

#app {
	position: relative;
}

@import 'home-page';
@import 'project-page';
@import 'proposal-page';
@import 'header';
@import 'project';
@import 'proposal';
