$background-color: #f9f9f9;
body { 
	margin: 0; 
	background-color: $background-color;
}

#app {
	position: relative;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

@import 'example-vanilla';
@import 'example-d3';
