h1,
h2,
h3,
h4,
h5,
h6,
div,
text, p, .proposal-page .comment-input textarea, .add-item-modal input,
.add-item-modal textarea {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  font-weight: 300; }

body {
  margin: 0;
  background-color: #ffffff;
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

h1 {
  font-size: 2.5rem; }

h2 {
  font-size: 1.5rem; }

h3 {
  font-size: 1rem; }

h4 {
  font-size: 0.625rem; }

h5,
figcaption {
  font-size: 0.5rem; }

h6 {
  font-size: 0.375rem; }

a,
a:link,
a:visited,
a:hover,
a:active {
  color: #2dade0;
  text-decoration: none; }

#app {
  position: relative;
  margin: 0 auto;
  max-width: 80rem;
  color: #333333;
  background-color: #fafafa; }
  @media (min-width: 768px) {
    #app {
      margin: 1rem auto; } }

.page {
  padding: 0 1rem; }
  @media (min-width: 768px) {
    .page {
      padding: 0 6rem; } }

.home-page ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: calc(100% + 2rem);
  margin: -1rem;
  padding: 0; }

.home-page li {
  list-style-type: none; }

.home-page .add-project {
  width: 20rem;
  height: 11.25rem;
  margin: 1rem 1rem;
  background-color: #9ecfde;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.075rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .home-page .add-project .plus {
    display: block;
    width: 100%;
    line-height: 8rem;
    font-size: 7rem;
    font-weight: bold; }

.rate-limit-message {
  padding: 2rem 20%; }
  .rate-limit-message .button {
    width: 80%;
    margin: 2rem auto;
    padding: 1rem 2rem;
    color: #ffffff;
    background-color: #2dade0;
    font-size: 1.5rem;
    text-align: center;
    border-radius: 10px;
    cursor: pointer; }
    @media (min-width: 768px) {
      .rate-limit-message .button {
        width: 50%; } }

.project-page ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: calc(100% + 2rem);
  margin: -1rem;
  padding: 0; }

.project-page li {
  list-style-type: none; }

.project-page .add-project {
  width: 20rem;
  height: 11.25rem;
  margin: 1rem 1rem;
  background-color: #9ecfde;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.075rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .project-page .add-project .plus {
    display: block;
    width: 100%;
    line-height: 8rem;
    font-size: 7rem;
    font-weight: bold; }

.proposal-page {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start; }
  .proposal-page .main {
    margin-top: 3rem; }
    @media (min-width: 768px) {
      .proposal-page .main {
        flex: 0 1 50rem; } }
  .proposal-page .sidebar {
    display: none;
    position: relative;
    flex: 1 0 16rem;
    margin: 3rem 0 0 1rem;
    padding-top: 1rem;
    background-color: #ffffff;
    border: 1px solid #f6f6f6; }
    @media (min-width: 768px) {
      .proposal-page .sidebar {
        display: block; } }
    .proposal-page .sidebar .revisions-header {
      position: relative;
      height: 3rem;
      padding: 0 1rem;
      border-bottom: 1px solid #f6f6f6; }
      .proposal-page .sidebar .revisions-header h3 {
        margin: 0;
        padding-top: 0.5rem;
        font-weight: bold; }
    .proposal-page .sidebar ul {
      margin: 0;
      padding: 0; }
    .proposal-page .sidebar li {
      padding: 0 1rem;
      list-style-type: none; }
      .proposal-page .sidebar li.darken {
        color: #cccccc;
        background-color: #f2f2f2; }
  .proposal-page .add-revision {
    position: absolute;
    right: 1rem;
    top: 0;
    width: 6rem;
    padding: 0.5rem;
    color: #ffffff;
    background-color: #2dade0;
    border-radius: 10px;
    text-align: center;
    cursor: pointer; }
  .proposal-page .current-and-proposed {
    position: relative;
    width: 100%;
    height: 15rem;
    max-width: calc(100vw - 2rem);
    margin-bottom: 2.5rem; }
    .proposal-page .current-and-proposed > figure {
      position: absolute;
      width: 47.5%;
      height: 100%;
      left: 0;
      margin: 0; }
      .proposal-page .current-and-proposed > figure:last-child {
        left: auto;
        right: 0; }
    .proposal-page .current-and-proposed figcaption {
      font-size: 1rem; }
    .proposal-page .current-and-proposed .geojson-map {
      width: 100%;
      height: 100%; }
  .proposal-page .diff-map {
    max-width: calc(100vw - 2rem); }
  .proposal-page .info {
    position: relative;
    width: 100%;
    margin: 1rem 0;
    padding: 1rem;
    background-color: #ffffff;
    border: 1px solid #f6f6f6; }
    .proposal-page .info h2.title {
      margin: 0 0 0.5rem 0;
      font-size: 1.25rem; }
    .proposal-page .info a {
      margin: 1rem 0;
      font-size: 1rem; }
    .proposal-page .info .body {
      max-height: 8rem;
      text-overflow: clip;
      overflow-y: auto; }
    .proposal-page .info .created-date {
      position: absolute;
      top: 1rem;
      right: 1rem;
      color: #cccccc; }
    .proposal-page .info .footer {
      height: 3.25rem;
      padding-top: 1rem;
      border-top: 1px solid #f6f6f6; }
  .proposal-page .votes {
    display: inline-block;
    width: 4rem; }
    .proposal-page .votes .em {
      width: 1.5rem;
      height: 1.5rem;
      margin-right: 0.5rem;
      -webkit-filter: saturate(0%) contrast(300%) invert(100%);
      filter: saturate(0%) contrast(300%) invert(100%);
      opacity: 0.25; }
    .proposal-page .votes.enabled .em {
      opacity: 1.0;
      cursor: pointer; }
      .proposal-page .votes.enabled .em:active {
        -webkit-filter: saturate(0%) contrast(300%) invert(0%);
        filter: saturate(0%) contrast(300%) invert(0%); }
    .proposal-page .votes .pending {
      background-image: url("img/loader-32.gif");
      width: 1.5rem;
      height: 1.5rem;
      display: inline-block;
      vertical-align: middle;
      opacity: 0.5;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain; }
  .proposal-page .comments {
    width: 100%;
    padding: 1rem;
    background-color: #ffffff;
    border: 1px solid #f6f6f6; }
    .proposal-page .comments h3 {
      font-weight: bold; }
    .proposal-page .comments ul {
      margin: 3rem 0 0 0;
      padding: 0; }
    .proposal-page .comments li {
      list-style-type: none; }
  .proposal-page .comment-input {
    position: relative; }
    .proposal-page .comment-input textarea {
      width: 100%;
      min-height: 5rem;
      margin-bottom: 3rem;
      padding: 0.5rem;
      box-sizing: border-box;
      border: none;
      background-color: #f2f2f2;
      font-size: 1rem;
      color: #333333; }
      .proposal-page .comment-input textarea::-webkit-input-placeholder {
        color: rgba(51, 51, 51, 0.5);
        font-size: 1rem; }
      .proposal-page .comment-input textarea::-moz-placeholder {
        font-size: 1rem; }
      .proposal-page .comment-input textarea:-ms-input-placeholder {
        font-size: 1rem; }
      .proposal-page .comment-input textarea::placeholder {
        font-size: 1rem; }
    .proposal-page .comment-input .comment-button {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 10rem;
      padding: 0.5rem;
      color: #ffffff;
      background-color: #2dade0;
      border-radius: 10px;
      text-align: center;
      cursor: pointer; }
      .proposal-page .comment-input .comment-button.disabled {
        opacity: 0.5;
        cursor: auto; }
  .proposal-page .signin-cta {
    display: inline-block;
    cursor: pointer; }

#header {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  margin-top: 1rem;
  padding: 0 1rem;
  background-color: #ffffff; }
  @media (min-width: 768px) {
    #header {
      margin-top: 3rem;
      padding: 0 6rem; } }
  #header h1 {
    margin: 0;
    color: #333333; }
  #header .login-options {
    cursor: pointer; }

.project-thumb {
  margin: 1rem 1rem; }
  .project-thumb .map {
    width: 20rem;
    height: 11.25rem;
    background-color: #9ecfde; }
  .project-thumb figcaption {
    max-width: 20rem;
    margin-top: 0.5rem;
    font-size: 1rem;
    color: #2dade0;
    white-space: nowrap;
    text-overflow: ellipsis; }

.proposal-thumb {
  margin: 1rem 1rem; }
  .proposal-thumb figcaption {
    max-width: 20rem;
    margin-top: 0.5rem;
    font-size: 1rem;
    color: #2dade0;
    white-space: nowrap;
    text-overflow: ellipsis; }

.diff-map {
  width: 100%;
  height: 25rem;
  background-color: #9ecfde;
  border: 1px solid #f6f6f6; }
  .diff-map .map-container {
    width: 100%;
    height: 100%; }
  .diff-map .diff {
    stroke: red;
    stroke-width: 2;
    stroke-opacity: 0.5;
    fill: red;
    fill-opacity: 0.5; }
  .diff-map .intersection {
    stroke: #438fd3;
    stroke-width: 2;
    stroke-opacity: 0.5;
    fill: #ff9933;
    fill-opacity: 0.2; }
  .diff-map .is-processing {
    width: 100%;
    margin-top: 2rem;
    font-size: 1.5rem;
    text-align: center; }
  .diff-map .diff-error {
    margin: 1rem;
    overflow-y: hidden; }

.geojson-map {
  width: 20rem;
  height: 11.25rem;
  background-color: #9ecfde; }
  .geojson-map .map-container {
    width: 100%;
    height: 100%; }
  .geojson-map .leaflet-container {
    cursor: pointer; }
  .geojson-map .geojson-layer {
    stroke: #438fd3;
    stroke-width: 2;
    stroke-opacity: 0.5;
    fill: #ff9933;
    fill-opacity: 0.2; }

.login-modal {
  position: absolute;
  left: 5%;
  right: 5%;
  top: 5%;
  min-height: 25rem;
  padding: 0.5rem;
  background-color: #ffffff;
  border: 1px solid #f2f2f2;
  overflow: auto;
  -webkit-overflow-scrolling: auto;
  outline: none; }
  @media (min-width: 768px) {
    .login-modal {
      left: 30%;
      right: 30%;
      top: 20%;
      min-height: 25rem;
      padding: 2rem; } }
  .login-modal h2 {
    margin-top: 0.5rem; }
  .login-modal .modal-desc {
    margin-bottom: 0.5rem; }
    @media (min-width: 768px) {
      .login-modal .modal-desc {
        margin-bottom: 2rem; } }
  .login-modal .note-spacer {
    height: 1rem; }
    @media (min-width: 768px) {
      .login-modal .note-spacer {
        height: 4rem; } }
  .login-modal .button {
    width: 80%;
    margin: 1rem auto 0 auto;
    padding: 1rem 0.5rem;
    background-color: #f2f2f2;
    font-size: 1.5rem;
    text-align: center;
    border-radius: 10px;
    cursor: pointer; }
    @media (min-width: 768px) {
      .login-modal .button {
        width: 50%;
        margin: 4rem auto 0 auto;
        padding: 1rem 2rem; } }
  .login-modal .cancel {
    margin-top: 1rem;
    padding: 0.5rem;
    font-size: 1rem; }
  .login-modal .login {
    color: #ffffff;
    background-color: #2dade0; }

.login-modal-overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); }

.add-item-modal {
  position: absolute;
  left: 5%;
  right: 5%;
  top: 5%;
  min-height: 25rem;
  padding: 0.5rem;
  background-color: #ffffff;
  border: 1px solid #f2f2f2;
  overflow: auto;
  -webkit-overflow-scrolling: auto;
  outline: none; }
  @media (min-width: 768px) {
    .add-item-modal {
      left: 30%;
      right: 30%;
      top: 20%;
      min-height: 25rem;
      padding: 1rem; } }
  .add-item-modal h2 {
    margin-top: 0.5rem; }
  .add-item-modal .modal-desc {
    white-space: pre-wrap; }
  .add-item-modal .button {
    display: inline-block;
    width: 10rem;
    padding: 0.5rem;
    background-color: #f2f2f2;
    border-radius: 10px;
    text-align: center;
    cursor: pointer; }
  .add-item-modal .button-container {
    position: absolute;
    right: 0.5rem;
    bottom: 0.5rem; }
    @media (min-width: 768px) {
      .add-item-modal .button-container {
        right: 1rem;
        bottom: 1rem; } }
  .add-item-modal .upload {
    width: 15rem; }
  .add-item-modal .confirm {
    margin-left: 1rem;
    color: #ffffff;
    background-color: #2dade0; }
    .add-item-modal .confirm.disabled {
      opacity: 0.5;
      cursor: auto; }
  .add-item-modal .upload-info {
    margin-top: 0.5rem;
    font-style: italic;
    opacity: 0.65; }
  .add-item-modal input,
  .add-item-modal textarea {
    position: relative;
    width: 100%;
    margin-bottom: 1rem;
    padding: 0.5rem;
    box-sizing: border-box;
    border: none;
    background-color: #f2f2f2;
    font-size: 1rem;
    color: #333333; }
    .add-item-modal input::-webkit-input-placeholder,
    .add-item-modal textarea::-webkit-input-placeholder {
      color: rgba(51, 51, 51, 0.5);
      font-size: 1rem; }
    .add-item-modal input::-moz-placeholder,
    .add-item-modal textarea::-moz-placeholder {
      font-size: 1rem; }
    .add-item-modal input:-ms-input-placeholder,
    .add-item-modal textarea:-ms-input-placeholder {
      font-size: 1rem; }
    .add-item-modal input::placeholder,
    .add-item-modal textarea::placeholder {
      font-size: 1rem; }
  .add-item-modal textarea {
    height: 10rem; }
  .add-item-modal .desc {
    height: 5rem; }
  .add-item-modal .loader {
    width: 100%;
    margin-top: 30%;
    text-align: center; }

.add-item-modal-overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); }

.comment {
  position: relative;
  margin-bottom: 3rem; }
  .comment h4 {
    margin: 0;
    font-size: 1rem;
    font-weight: bold; }
  .comment .created-date {
    position: absolute;
    top: 0;
    right: 0;
    color: #cccccc; }
  .comment .votes {
    display: inline-block;
    width: 4rem; }
    .comment .votes .em {
      width: 1.5rem;
      height: 1.5rem;
      margin-right: 0.5rem;
      -webkit-filter: saturate(0%) contrast(300%) invert(100%);
      filter: saturate(0%) contrast(300%) invert(100%);
      opacity: 0.25; }
    .comment .votes.enabled .em {
      opacity: 1.0;
      cursor: pointer; }
      .comment .votes.enabled .em:active {
        -webkit-filter: saturate(0%) contrast(300%) invert(0%);
        filter: saturate(0%) contrast(300%) invert(0%); }
    .comment .votes .pending {
      background-image: url("img/loader-32.gif");
      width: 1.5rem;
      height: 1.5rem;
      display: inline-block;
      vertical-align: middle;
      opacity: 0.5;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain; }

.revision {
  position: relative;
  min-height: 4rem;
  font-size: 0.8rem;
  text-overflow: clip;
  overflow-y: hidden;
  border-bottom: 1px solid #f6f6f6;
  cursor: pointer; }
  .revision .desc {
    float: left;
    margin: 0.8rem 0; }
  .revision .date {
    margin-top: 0.4rem;
    float: right;
    color: #cccccc; }
